*{
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
}
body{
    background: darkblue;
    font-family: 'public sans';
}
.contenedor{
    width:100%;
    min-height: 100px;
    padding-bottom: 20px;
}
.contenedor h3{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    width:100%;
    background: rgb(255, 1, 1,.5);
    color: white;
}
.contenedor h2{
    color:white;
    padding:10px 0;
    width:80%;
    text-align: center;
}
.contenedor>p{
    font-size: 25px;
    padding: 5px;
    color: white;
    width:60%;
}
.contenedor h2{
    font-size: 30px;
    text-shadow: 0 0 5px white;
}
.grupo_datos{
    width:90%;
    margin:5px 0
}
.datos{
    width:60%;
    display:none;
}
.flecha{
    width: 300px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.flecha i{
    margin-left: 20px;
}
.flechaR{
    transform: rotate(0deg);
}
.col_celda{
    background: rgb(0, 0, 0);
}
.ver_dato{
    display: block;
}
.datos p{
    text-align: center;
    font-size: 20px;
    width:60%;
    color: white;
}
.grupo_datos> p{
    padding: 2px 0;
    background: rgba(255, 0, 0, 0.3);
    color:white
}
.datos p{
    padding: 20px 0 2px;
}
.datos table{
    width:100%
}
.tabla th{
    width: 100%;
}
.tabla tr{
    background-color: rgb(219, 219, 219);
}
.tabla td{
    text-align: center;
    width:150px;
    font-size: 20px;
    font-weight: bold;
    border:solid rgb(0, 0, 0,.4) 1px;
    padding: 2px;
    border-radius: 2px;

}
.tabla td span{
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 5px 2px white inset;
}
.bola_R{
    background: rgb(255, 0, 0);
}
.bola_B{
    background: rgb(255, 255, 255);
}
.footer{
    width:100%;
    background: rgb(255, 0, 0,.5);
    padding:30px 0;
    margin:30px 0
}
.footer p{
    width:95%;
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer a{
    color:rgb(0, 0, 109,.9);
    text-shadow: 0 0 2px white;
    font-style: italic;
    font-weight: bold;
}
@media (max-width:576px){
.contenedor>p,.contenedor h2{
    width:100%
}
.contenedor>p{
    font-size: 18px;
}
.contenedor h2{
    font-size: 20px;
}
.grupo_datos,.datos{
    width:100%
}
.grupo_datos>p{
    width:98%
}
}